{% block content %}

{% load crispy_forms_tags %}
{% load tailwind_filters %}

<div class="login-container">
  <div class="login-header">
    <h2>Login</h2>
  </div>
  <form method="post" class="login-form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="login-button">Login</button>
  </form>
</div>

<style>
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

  .login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }

  .login-header h2 {
    margin-bottom: 20px;
    color: #34495e;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-form p {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
  }

  .login-form label {
    display: block;
    margin-bottom: 5px;
    color: #34495e;
  }

  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }

  .login-form input[type="text"]:focus,
  .login-form input[type="password"]:focus {
    border-color: #2980b9;
    box-shadow: 0 0 8px rgba(41, 128, 185, 0.3);
    outline: none;
  }

  .login-button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #0a3c5e;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }

  .login-button:hover {
    background-color: #3578a1;
  }
</style>
{% endblock %}
